  
.check,
.delete {
  border-radius : 50%;
  cursor        : pointer;
  float         : right;
  height        : 20px;
  margin-right  : 10px;
  width         : 20px;
}

.clearfix {
  clear   : both;
  content : '';
  display : table;
}

.completed {
  color           : gray;
  text-decoration : line-through;
}

.completed-check {
  background-image : url('./check.png');
  border           : 1px solid green;  
}

.delete {
  background-image: url('./cross.png');  
  border : 1px solid red;
}

.delete:hover {
  background-image: linear-gradient(rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)), url(./cross.png);;  
}

.hidden {
  display: none;
}

.item {
  float      : left;
  width      : 70%;
  word-break : break-all;
}

.item-container,
.no-task {
  background-color : #efefef;
  border           : 1px solid gray;
  border-radius    : 2px;
  border-top       : 0px;
  width            : calc(80% - 22px);
  margin           : 0px auto;
  padding          : 15px 10px;
}

.no-task {
  color       : gray;
  height      : 100px;
  padding-top : 90px;
  text-align  : center;
}

.remaining {
  color : black;
}

.remaining-check {
  border : 1px solid blue;  
}

.to-do-container {
  width : 100%;
}